.sidebar {
  background-color: $color-primary;
  grid-row: 1 / -1;

  display: flex;
  justify-content: center;

  @media only screen and(max-width:$bp-medium) {
    grid-column: 1/-1;
    grid-row: 1/2;

    display: flex;
    justify-content: end;
  }
}

.nav-btn {
  border: none;
  border-radius: 0;

  background-color: #fff;
  height: 0.2rem;
  width: 4.5rem;
  margin-top: 4rem;

  &::before,
  &::after {
    background-color: #fff;
    height: 0.2rem;
    width: 4.5rem;
    content: "";
    display: block;
  }

  &::before {
    transform: translateY(-1.5rem);
  }
  &::after {
    transform: translateY(1.2rem);
  }

  @media only screen and(max-width:$bp-medium) {
    margin-top: 3rem;
    margin-right: 2rem;

    &::before {
      transform: translateY(-1.3rem);
    }
    &::after {
      transform: translateY(1.2rem);
      height: 0.3rem;
    }
  }
}
